.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}


.ligne{
    position: absolute;
    top:150px;
    left: 225px;
    width: 1000px;
}

.logo_equipe{
   
    width: 50px;
}

.equipe_2{
    margin-top: 180px;
    border:1px solid black;
    margin-left: 107px;
}

.equipe_1{
    
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}